@media screen and (max-width: 768px){
   header{
      justify-content: space-between;
   }
   .logo img {
      width: 70px;
      margin-bottom: 0;
   }
   header nav{
      display: none;
   }
   .menu-mobile{
      display: flex;
   }
   #home{
      flex-direction: column;
   }
   .pizza{
      width: 160px;
      height: 300px;
      margin: 10px;
   }
   .pizza-img{
      width: 140px;
   }
   .add-pizza {
      width: 44px;
      height: 44px;
   }
   .pizza-name {
      font-size: 17px;
   }
   .pizza-price {
      font-size: 15px;
      margin: 7px 0;
   }
   .pizza-desc {
      font-size: 13px;
   }
}